<nav class="navbar fixed-top navbar-expand-md" data-bs-theme="dark">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://pub.dev/packages/fd_lints" target="_blank">pub.dev</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/Floating-Dartists/fd_lints" target="_blank">GitHub</a>
                </li>
            </ul>
        </div>
    </div>
</nav>